body {
   /* background-color:#822EE6;*/
    background-image: url("img/fundo.png");
}

h1 {
    color:#04ffe2;
    background-color:#BD2EF0;
    opacity:5;
    border: 2px inset rgb(0,0,0);
}

p {
    font-family: verdana;
    font-size: 20px;
}

/*CLASS*/
.center{ 
    text-align: center;
}

.fonte-cor {
    color:#000000;
    border: 5px solid #04ffe2;
    border-width: 10px 4px;
    border-radius: 25px;
    border-left: 2px;
    border-right: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

/*ID*/
#para {
    font-family: verdana;
    font-size: 20px;
}

