body {
   /* background-color:#822EE6;*/
    background-image: url("img/fundo.png");
}

h1 {
    color:#000000;
    background-color:#BD2EF0;
    opacity:5;
    border: 2px inset rgb(0,0,0);
    text-shadow: 2px 2px #04ffe2;
    
}

p {
    font-family: verdana;
    font-size: 20px;
}

/*CLASS*/
.center{ 
    text-align: center;
}

.fonte-cor {
    color:#000000;
    border: 5px solid #04ffe2;
    padding: 6px;
    margin-bottom: 2px;
    text-shadow: 2px 2px 5px #04ffe2;
}

.texto { 
    text-decoration-line: underline;
    text-decoration-color: #BD2EF0;
    text-decoration-style: wavy;
    border: 5px solid #04ffe2 ;
    padding: 6px;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px #04ffe2;
    font-family: 'Lobster', cursive;
}

.link {
    text-align: center;
    border: solid #04ffe2;
    padding: 10px;
}

.link a{
    text-decoration: none;
    color: #000000;
    font-size: 30px; 
    font-family: 'Lobster', cursive;
    
}

/*ID*/
#para {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

