body {
    background-color:#822EE6;
}

h1 {
    color:#04ffe2;
    background-color:#BD2EF0;
    border-style:outset;
    border-color:#000000
}

p {
    font-family: verdana;
    font-size: 20px;
}

/*CLASS*/
.center{ 
    text-align: center;
}

.fonte-cor {
    color:#000000;
}

/*ID*/
#para {
    font-family: verdana;
    font-size: 20px;
}

